.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

  .main {
    padding: 4rem;
    justify-content: flex-start;
  }

  .pageTitle {
    font-size: 2.5rem;
  }

  .selectionsDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  .movieSelections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 30px 0;
  }

  .movieServiceSelections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
  }

  .movieGenreSelections {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
  }

  .movieSelectionSubtitle {
    display: inherit;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .movieServiceButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 300px;
  }

  .movieGenreButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 300px;
  }

  .movieServiceSelections button {
    cursor: pointer;
    margin: 5px;
    font-size: 0.8rem;
    padding: 5px 14px 5px 14px;
    border: 1px solid rgb(107, 107, 107);
  }

  .movieServiceSelections .active {
    border: 1px solid #fff;
  }

  .movieGenreSelections button {
    cursor: pointer;
    margin: 5px;
    font-size: 0.8rem;
    padding: 5px 14px 5px 14px;
    border: 1px solid rgb(107, 107, 107);
  }

  .movieGenreSelections .active {
    border: 1px solid #fff;
  }
  
  .restaurantSelections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 30px 0;
  }
  
  .restaurantPriceButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 300px;
  }

  .restaurantPriceButtons button {
    cursor: pointer;
    margin: 12px 8px 8px 8px;
    font-size: 0.8rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(107, 107, 107);
  }

  .restaurantPriceButtons .active {
    border: 1px solid #fff;
  }

  .submitButton {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    font-size: 0.8rem;
    padding: 5px 14px 5px 14px;
    border: 1px solid rgb(107, 107, 107);
  }

  .submitButton:hover {
    background-color: rgb(107, 107, 107);
    color: #fff;
  }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
  
      100% {
        opacity: 1;
      }
    }

  .movieError {
    position: absolute;
    animation: fadeIn 0.2s;
    margin-top: 18px;
    color: rgba(255, 0, 0, 0.846);
    font-size: 0.7rem;
  }

  .restaurantError {
    position: absolute;
    animation: fadeIn 0.2s;
    margin-top: 21px;
    color: rgba(255, 0, 0, 0.846);
    font-size: 0.7rem;
  }

  .resultsDisplay {
    display: flex;
    flex-direction: column;
  }

  .movieDisplay {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 30px 0;
    max-width: 500px;
  }

  .movieTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .movieTitle img {
    margin-bottom: 10px;
  }

  .movieTitle p {
    font-size: 0.9rem;
  }

  .movieDescription {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: justify;
  }

  .imdbRating {
    align-self: center;
    margin-top: 5px;
    font-size: 0.9rem;
  }

  .restaurantDisplay {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px 0 30px 0;
    max-width: 500px;
  }

  .restaurantName {
    align-self: center;
  }

  .restaurantDistance {
    align-self: center;
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 0.8rem;
  }

  .restaurantDescription {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: justify;
  }

  .restaurantDescription p {
    margin: 3.5px;
  }

  .restaurantDescription a {
    margin-top: 5px;
    align-self: center;
    color: #007FBF;
  }

  .restaurantAddress {
    align-self: center;
    font-size: 0.85rem;
  }

  .resultsDisplay button {
    width: fit-content;
    align-self: center;
  }

  @media (max-width: 520px) {
    .pageTitle {
      font-size: 1.7rem;
    }
  }